@charset "utf-8";


body {
    top: 0px;
    left: 0px;
    margin: 0px;
    background-color: #282828;
    min-width: 450px;
    font-family: Montserrat;
    overflow: visible;
}

@font-face {
    font-family: Montserrat;
    src: url("/Fonts/Montserrat-ExtraLight.ttf");
}

a {
    text-decoration: none;
    color: #ffffff;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
    left: auto;
    /* [disabled]min-width: 327px; */

}


navbar-item {
    display: inline-block;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    margin-top: auto;
    margin-right: 5px;
    margin-bottom: auto;
    font-size: 16px;
    margin-left: 5px;
    font-weight: lighter;
    color: white;
    overflow: hidden;




}

navbar-item.name-start {
    line-height: 45px;
    font-size: 35px;
    margin-left: 100px
}

navbar-item.Navbar-link {
    background: rgba(0, 0, 0, 0);
    color: white;
    transition: 0.5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

navbar-item.Navbar-link:hover {
    background: rgba(100, 20, 160, 0.6);
    transition: 0.5s;
}

.navbar-item-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    top: 3px;
    display: inline-block;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.navbar-item-icon-external {
    top: -4px;
    display: inline-block;
    position: relative;
    margin-left: 5px;
}


.navbar-item-menu-icon {
    margin: auto;
    position: fixed;
    display: none;
    top: 7px;
    right: 20px;
    height: 40px;
    width: 40px;
    z-index: 100;
}

.navbar-sidepanel {
    height: 100%;
    background-color: hsla(263, 100%, 43%, 1.00);

    position: fixed;
    z-index: 10;
    display: none;
    width: 300px;
    right: 0px;
    transition: 0.5s ease-in-out;
    z-index: 10;
}

.navbar-sidepanel > a {
    width: 100%;
    display: block;
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 14px;
    transition: 0.3s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.navbar-sidepanel > a:hover {
    background: rgba(79, 18, 124, 0.6);
    transition: 0.3s;
}

.navbar-sidepanel-closed {
    right: -300px
}

.navbar-sidepanel-shadow {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    background: hsla(0, 0%, 0%, 0.5);
    z-index: 10;
    transition: 0.2s;
}

@media (max-width: 1150px) {
    navbar-item.Navbar-link {
        display: none;
    }

    .navbar-item-menu-icon {
        display: block;
        z-index: 100;
    }

    navbar-item.name-start {
        margin-left: 0px;
    }

    .navbar-sidepanel {
        display: block;
    }
}



navbar-item-sidepanel {
    font-size: 16px;
    margin: auto;
    font-weight: lighter;
    color: white;
    width: 100%;
    transition: 0.5s;
}

navbar-item-sidepanel {
    color: white;
    transition: 0.5s:
}



.project {}
