@charset "utf-8";

body {
    min-width: 1280px;
}

/*Video Banner*/

.video-con {
    height: 100vh;
    width: 100%;
    overflow:hidden;
    position: relative;
    max-height: 1380px;
         display: flex;

}

.video-con-object {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    


  display: flex;

    
}
.video-con-object > video {

    position: absolute;
    opacity: 1;
    overflow: hidden;
    
    width: 100%;
    height: 100%;
        object-fit: cover;

    

}

.video-con-object-fade {
    position: absolute;
    display: block;
    width: 100%;
    left: 0px;
    height: 100px;
    top: 500px;
    background: rgb(38, 17, 43);
    background: -moz-linear-gradient(0deg, rgba(38, 17, 43, 1) 0%, rgba(38, 17, 43, 0.2049194677871149) 10%, rgba(38, 17, 43, 0) 40%);
    background: -webkit-linear-gradient(0deg, rgba(38, 17, 43, 1) 0%, rgba(38, 17, 43, 0.2049194677871149) 10%, rgba(38, 17, 43, 0) 40%);
    background: linear-gradient(0deg, rgba(38, 17, 43, 1) 0%, rgba(38, 17, 43, 0.2049194677871149) 10%, rgba(38, 17, 43, 0) 40%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26112b", endColorstr="#26112b", GradientType=1);
}

/*About Me*/

.about-me {
    height: 380px;
    


    position: relative;


    background: rgb(48, 0, 120);
    background: -moz-linear-gradient(169deg, rgba(48, 0, 120, 1) 8%, rgba(140, 0, 171, 1) 100%);
    background: -webkit-linear-gradient(169deg, rgba(48, 0, 120, 1) 8%, rgba(140, 0, 171, 1) 100%);
    background: linear-gradient(169deg, rgba(48, 0, 120, 1) 8%, rgba(140, 0, 171, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#300078", endColorstr="#8c00ab", GradientType=1);

    font-style: normal;
    font-weight: 400;
    margin: auto;
    margin-top: -380px;
    box-shadow: 0px 0px 40px 6px black;
    width: 1280px;
    border-radius: 60px 60px 0px 0px;

    
}

.about-me:after {}




.about-me-con {
    align-self: center;
    color: white;
    padding: 0px 30px 0px 30px;
    height: 100%;
    display: flex;
}

.about-me-picture {
    border-radius: 1000px;
    display:block;
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

.about-me-title {
    font-size: 60px;
    white-space: nowrap;
    margin-left: -4px
}

.about-me-text {
    position: relative;
    font-size: 16px;
    display: block;
    text-overflow: ellipsis;
    text-align: left;

    padding-bottom: 20px;
width: auto;
    margin: auto;
    top: 0px;
}


@media (max-width: 760px) {




    .about-me-title {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 760px) {

}

/*Banner Showcase*/

.Banner {
    height: 100px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 41px;
    margin: auto;
    vertical-align: central;
    align-self: center;
    line-height: 100px;
    background-color: #22007c;
    position: relative;
    display: block;
    padding-top: 12px;
}

.sub-banner {
    width: 900px;
    margin: auto;
    font-size: 43px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: 100;
}

.sub-banner-divider {
    height: 4px;
    top: 10px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.19931722689075626) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.2049194677871149) 70%, rgba(255, 255, 255, 0) 90%);
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.19931722689075626) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.2049194677871149) 70%, rgba(255, 255, 255, 0) 90%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.19931722689075626) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.2049194677871149) 70%, rgba(255, 255, 255, 0) 90%);
}

/*Project Showcase*/

.project-con-panel {
    width: 200%;
    height: 700px;
    margin: auto auto auto -50%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    transition: 1s;
    
    
  background-image: radial-gradient(rgba(101, 101, 101, 0.38) 2px, transparent 0);
  background-size: 12px 12px;
  background-position: 50% -11px;

}

.project-con-cell {
    position: relative;
    width: 380px;
    height: 100%;
    transition: 0.5s;
    min-width: inherit;

    overflow: visible;
    z-index: 1;
    opacity: 1;
    cursor: pointer;
    margin-left: -45px;
    margin-right: -45px;
    clip-path: polygon(90px 0%, 100% 0%, calc(100% - 90px) 100%, 0% 100%);

    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.project-con-box-image {
    position: absolute;
    width: 700px;
    height: 700px;
    transition: 0.5s;
    z-index: -10;
    margin: auto;
    top: 0px;
    left: -700px;
    right: -1000px;
    -webkit-touch-callout: none;
    pointer-events: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.project-con-box-title {
    z-index: 100;
    bottom: 40px;
    width: 260px;
    left: 190px;
    margin: auto;
    position: absolute;
    display: block;
    pointer-events: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.project-con-tags {
    height: 60px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: block;
    text-align: center;
    z-index: 100;
}

.project-con-desc {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin-top: 10px
}

project-tag {
    height: 20px;
    width: auto;
    padding-top: 1px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 2px;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 6px;
    font-weight: 100;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    z-index: -2;
    left: 10px;
    bottom: 0px;
    box-shadow: 0px 0px 4px -1px #000000;
    line-height: 20px;
    background: red;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.engine-tag {
    background: hsla(120, 100%, 30%, 1.00);
}

.university-tag {
    background: #0077d3;
}

.extra-tag {
    height: 20px;
    width: auto;
    padding-top: 1px;
    padding-right: 8px;
    padding-left: 16px;
    padding-bottom: 2px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 14px;
    color: white;
    margin-left: -18px;
    margin-bottom: 6px;
    margin-right: 5px;
    font-weight: 100;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    z-index: -12;
    position: relative;
    box-shadow: 0px 0px 4px -1px #000000;
    line-height: 13px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

}


.project-tag-devider {
    height: 26px;
    background-color: white;
    display: inline;
    padding-bottom: 10px;
    overflow: hidden;
    margin-top: -30px;
    padding-top: 10px;
    margin-right: 4px;
    padding-right: 0px;
    padding-left: 1px;
}

.panel {
    height: auto;
    margin: auto;
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
}

.year1-tag {
    background: #154d14;
    line-height: 12px;

}

.dividerline-tag {
    border-right: 2px solid #ffffff;
}

.csharp-tag {
    background: purple;
}

.gamejam-tag {
    background: red;
}

.team-tag {
    background: #007474;
}

.contact-panel {
    color: white;
    background-color: #04052e;
    position: relative;
    padding-top: 40px;
    padding-bottom: 90px;
    display: flex;
}

.Contact-Me-Con {
    width: 20%;
    margin-bottom: 30px;
    background: blue;
    display: flex;
}

.project-con-box {
    width: 100%;
    height: 700px;
    left: -170px;
    position: relative;
    display: block;
    margin: auto;
    vertical-align: middle;
    align-content: center;
    align-items: center;


}


.project-con-cell:hover {
    width: 600px;

}

.project-con-cell:hover > div > .project-con-tagcon {
    transform: translateY(0px);
}

.project-con-infobox {
    background-color: blue;


    height: 70px;
    left: -170px;
    width: 700px;
    position: relative;

    bottom: 70px;
    text-align: center;
    font-size: 36px;
    display: block;
    color: white;
    line-height: 65px;
    margin: auto;
    align-content: center;
    transition: 0.5s;

}

.project-con-cell:hover > div > .project-con-box-video {
    opacity: 1;

}

.project-con-box-video {
    opacity: 0;
    transition: 0.3s;
    z-index: 22;
    width: 700px;
    height: 900px;
    position: absolute;
    display: block;
    left: -710px;

    top: -10px;
    right: -1000px;
    margin: auto;
    pointer-events: none;
}

qqqqq .project-cell-rot {
    width: 300px;
}

.project-con-cell .project-cell-rot:hover {
    width: 500px;
}

.project-desc {
    background: red;

}

.project-desc-cell {
    position: absolute;
    text-align: center;
    padding-top: 20px;
    transition: 0.6s;
    transform: translateY(-80px);
    opacity: 0;
    margin: auto;
    width: 1280px;
    left: -1000px;
    right: -1000px;
    height: 300px;
    color: white;
    display: inline-block;
    z-index: 1;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.project-desc-logo {
    width: 300px;
    bottom: -109px;
    display: block;
    position: absolute;
}

.project-desc-panel {
    background: rgb(10, 0, 33);
    background: -moz-linear-gradient(0deg, rgba(10, 0, 33, 1) 0%, rgba(10, 0, 100, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(10, 0, 33, 1) 0%, rgba(10, 0, 100, 1) 100%);
    background: linear-gradient(0deg, rgba(10, 0, 33, 1) 0%, rgba(10, 0, 100, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0021", endColorstr="#0a0064", GradientType=1);
    overflow: hidden;
    display: block;
    position: relative;
    height: 320px;
    padding-bottom: 60px
}

.project-desc-active-work,
.project-desc-active-personal {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: auto;
    z-index: 2;

}

.project-desc-descbox-links {
    display: block;
    position: absolute;
    width: auto;
    direction: ltr;
    left: 40px;
    bottom: 20px;
    margin-bottom: 10px;
}

.project-desc-box-links > a {}

.table-test {
    width: 100%;
    border: 10px solid white;
}



.table-test > th {
    border: 10px solid white;
}

.project-desc-links {
    display: inline-block;
}

.project-desc-desctext {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    height: 130px;
    width: 550px;
    margin: auto;
    height: 100%;
    pointer-events: painted;
    user-select: text;
}



.link-button {
    height: 50px;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 0px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    max-width: 210px;
    margin-left: 8px;
    margin-right: 8px;
    border: 4px solid hsla(0, 0%, 100%, 1.00);
    margin-bottom: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: text-bottom;
    transition: 0.8s;
    
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 160px;
    left: 0px;
    float: left;
}

.itch-button {
    line-height: 28px;
    font-size: 28px;
    font-weight: 100;
    background: #fa3c5c;
}

.projectpage-button > img,
.projectpage-button > div {
    height: 100%;
    position: relative;
    display: inline-block;
    float: left;
    line-height: 36px;
    font-size: 27px;
    font-weight: 200;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    width: auto;



}

.devlog-button {
    background-color: hsla(271, 48%, 39%, 1);
    font-weight: 500;
}

.project-desc-box-logotags {
    float: left;
    width: 400px;
    bottom: 0px;
    position: relative;
    height: 210px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link-button:hover {
    box-shadow: 0 0px 14px -6px hsla(0, 0%, 100%, 1.00);
    -webkit-box-shadow: 0 0px 14px -6px hsla(0, 0%, 100%, 1.00);
    transition: 0.2s;
}

.project-desc-box-feature {
    display: block;
    width: 300px;
    height: 100px;
    position: relative;
    text-overflow: inherit;
    float: right;
    font-size: 20px;
    left: -110px;
}

.project-desc-box-featureheader {
    font-size: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.projectpage-button {
    width: 200px;
    line-height: 0px;
    background: rgb(41, 41, 41);
    float: left;
}

.projectpage-button-text {
    display: inline-block;
    width: 120px;
    height: 100%;
    font-weight: 900;
    white-space: nowrap;
    font-family: ;

}

.link-button > img {}



*::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

/*-------------------CV-------------------*/

/*Bubbles*/

.cv-bubble {
    height: auto;
    width: auto;
    display: inline-block;
    position: relative;
    padding: 4px 12px 4px 12px;
    border-radius: 6px;
    background: #9b2626;
    font-size: 22px;
    z-index: 2;
    margin: 10px;
    cursor: default;


}

.cv-bubble > img {
    height: 30px;
    vertical-align: middle;
    margin-top: -34px;
        margin-bottom: -30px;


}

.cv-bubble-icon {
    position: absolute;
    width: 44px;
    margin-left: -46px;
    margin-top: -8px;
}

.cv-bubble-con {
    height: fit-content;
    width: auto;
    border: 1px solid #9b2626;
    border-radius: 12px;


    margin: 12px;
    margin-bottom: 16px;
    margin-top: 16px;
    text-align: center;
    
}


.cv-bubble-title {
    height: auto;
    width: auto;
    position: absolute;
    background-color: #1f2026;
    z-index: 1;
    margin-left: -12px;
    margin-top: -20px;
    padding-right: 10px;
    padding-bottom: 4px;
    font-size: 20px;
    white-space: nowrap;
}

.cv-bubble-title > img {
    height: 28px;

    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    margin-left: -2.5px;
}

.cv-bubble-pyramid {
    position: absolute;
    width: 32px;
    margin-left: 6px;
}

.cv-bubble-hover {
    position: absolute;
    bottom: 0px;
    background-color: inherit;
    opacity: 0;
    transition: 0.4s;
    padding: 2px;
    pointer-events: none;
    border-radius: 10px;
    display: inline;
    margin: auto;

    width: auto;
    font-size: 16px;

    left: 50%;
    transform: translate(-50%, -70px);
    box-shadow: 0px 0px 10px #000000;
}



.cv-bubble-hover > div {
    display: block;
    margin: 10px;
    min-height: 28px;
    width: auto;
    white-space: nowrap;
    padding-left: 8px;
}




.cv-bubble-hover > div > img {
    position: relative;
    width: 20px;
    left: -8px;
    top: 4px;
    margin: auto;
}

.cv-bubble:hover > .cv-bubble-hover {

    transform: translate(-50%, -50px);

    opacity: 1;
}


.cv-bubble-panel {
    width: 1080px;
    margin: 84px auto 40px auto;
    height: auto;
    text-align: center;
    padding-top: 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    -webkit-user-drag: none;
    display: flex;
flex-wrap: wrap;
justify-content: center

}

.cv-bubble-style-office > .cv-bubble {
    background-color: #da3b01;
}

.cv-bubble-style-office > .cv-bubble {
    background-color: #da3b01;
}


.cv-skilltable {
    display: block;
    width: 260px;
    height: auto;
    margin-right: 10px;
    background-color: #0a0021;
    float: right;
    font-size: 20px;
    padding: 8px;
    border-radius: 20px;
}

.cv-skilltable-tier {
    display: block;
    width: 90%;
    float: left;
    text-align: left;
    margin: 4px;
    line-height: 30px;
    padding: 6px;
}

.cv-skilltable-tier > img {
    height: 30px;
    float: left;
    margin-right: 10px;
}

.Banner-smalltext {
    height: auto;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: auto;
    line-height: 0px;
    text-decoration: underline;
    text-decoration-style: dotted;
    margin-top: -16px;

}



.project-desc-box-feature-list {
    text-align: left;
}

.project-desc-box-feature-list > li {
    margin-bottom: 8px;
}

.project-desc-cell-start {
    text-align: center
}

.project-desc-cell-start > img {
    width: 100px;
    transform: rotateX(180deg);
    display: block;
    margin: auto;
}

.cv-bubble-style-gameengines > .cv-bubble {
    background-color: #00887d;

}

.cv-bubble-style-web > .cv-bubble {
    background-color: #8d139d;

}

.cv-bubble-style-software > .cv-bubble {
    background-color: #936110;
}

.cv-bubble-style__productivity > .cv-bubble {
    background-color: #0e4304;
}

.cv-bubble-style__source > .cv-bubble {
    background-color: #680fe2;
}


.Contact-Me-link {
    width: 500px;
    height: 60px;
    border-radius: 200px;
    line-height: 60px;
    font-size: 30px;
    text-align: right;
    overflow: hidden;


    border-radius: 1000px;
    cursor: pointer;

    background-color: #24083c;
    
    
}



.beans{
    display: flex;
        background: blue;

}




.Contact-Me-link-Icon {
    height: 80%;
margin: 6px 20px 0px 10px;
    float: right;
}



.cv-bubble-style-3d > .cv-bubble {
    background-color: #007620;

}

.cv-infopanel {
    height: auto;
    width: 1000px;
    border: 2px solid white;
    border-radius: 12px;
    display: inline-block;
    margin: 40px 0px 40px 0px;
    text-align: center;
    padding: 30px;
    position: relative;
}

.cv-infopanel-base {
    width: 1280px;
    margin: auto;
    display: block;
    text-align: center;
}

.cv-infopanel-title {
    position: absolute;
    background-color: #1f2026;
    z-index: 1;
    margin-left: -32px;
    margin-top: -60px;
    padding-right: 10px;
    padding-bottom: 4px;
    font-size: 40px;
    white-space: nowrap;
    user-select:text;
}

.bread {
    color: aqua;
    margin: 0px;
    left: 0px;
    transition: 1s;
    align-self: baseline;

}

.eggstest {
    background: red;
    position: relative;
    display: block;
    width: 100px;
    top: -100px;
    left: 300px;
    height: 100px;
}

.project-con-tagcon {
    z-index: 100;
    bottom: 0px;
    width: 260px;
    left: 185px;
    margin: auto;
    position: absolute;
    display: block;
    pointer-events: none;
    transform: translateY(100px);
    transition: 0.4s;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.eghrtuhu {
    position: absolute;
    background: rgba(7, 7, 7, 0.52);
    bottom: 0px;
    left: calc(400px - -50%);
    width: 1100px;
    height: 100%;
    z-index: 0;
    transition: 1s;
    opacity: 1;
    transition-delay: 1s;
    clip-path: polygon(90px 0%, 100% 0%, calc(100% - 90px) 100%, 0% 100%);

}

.project-con-typetag {
    clip-path: polygon(90px 0%, 100% 0%, calc(100% - 90px) 100%, 0% 100%);
    height: 100%;
    background: orange;
    width: 100px;
    margin-left: -45px;
    margin-right: -45px;


}

.asdadsadsasdasdasd {
    position: absolute;
    background: red;
    top: -50px;
    z-index: 3;
    width: 400px;
    height: 400px;
    display: block;
}


.eggsticks2 {
    display: inline-block;
    position: relative;
    transition: 1s;
    height: 700px;
    transition: 0.5s;

    z-index: 1;

    margin-left: -50px;
    margin-right: -50px;
}

.project-con-descbox {

    position: relative;
    height: 100%;
    width: 0px;
    transition: 1s;
    width: 90px;
    overflow: hidden;
    z-index: 1;
    float: left;
    text-align: left;

    margin-left: -45px;
    margin-right: -45px;
    text-overflow: clip;

    z-index: 0;
    display: inline-block;
    background: rgba(57, 57, 57, 0.85);
    opacity: 1;

    clip-path: polygon(90px 0%, 100% 0%, calc(100% - 90px) 100%, 0% 100%);

}

.project-con-descbox > div {
    opacity: 0;
    transform: translateY(-100px);
    transition-delay: 0.8s;

}

.project-con-descbox-active > div {
    opacity: 1;
    transform: translateY(0px);
    transition: 1s;
    transition-delay: 0.4s;

}

.project-con-descbox-active {
    width: 800px;
    transition: 1s;
}

.project-descbox-title {
    top: 40px;
    left: 120px;
    position: relative;
    height: 100px;
}

.project-con-descbox-title {
    width: 360px;
    display: block;
    pointer-events: none;


    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.project-con-descbox-textbox {
    display: inline-block;

    padding: 20px 0px 0px 0px;
    height: 130px;
    width: 450px;
    margin: auto;
    height: 450px;
    pointer-events: painted;
    user-select: text;

    background: red;
    position: relative;
    left: 100px;
    white-space: normal;

}

.project-con-box-active {
    width: 600px;
}

.cv-infopanel-devider {
    background: white;
    margin: 20px 0px 20px 0px;
    height: 1px;
}

.contact-link-copy {
    position: absolute;
    display: inline-block;
    margin: auto;

    width: 40px;
    height: 40px;
    background: red;

    top: -44%;
    bottom: 0px;
    left: 1250px;
    right: 0px;

    border-radius: 100px;
    border: white solid 1px;
}

.contact-link-copy-hover {
    position: absolute;
    bottom: 0px;
    background-color: inherit;
    opacity: 0;
    transition: 0.4s;
    padding: 12px;
    pointer-events: none;
    border-radius: 10px;
    display: inline;
    margin: auto;
    white-space: nowrap;
    width: auto;
    font-size: 16px;

    left: 50%;
    transform: translate(-50%, -70px);
    box-shadow: 0px 0px 10px #000000;

}

.contact-link-copy:hover > .contact-link-copy-hover {
    opacity: 1;
    transform: translate(-50%, -60px);
}

.unavailablepage-tag {
    background: #951b1b;
    font-size: 10px;
}

/*Professional Experience*/

.cv-workexp-con {
    text-align: left;
    font-family: "Segoe UI Light", sans-serif;
    margin: 10px 30px 10px 10px;

}


.cv-workexp-smalltext {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #e6e6e6;


}

.cv-workexp-title {
    font-size: 30px;
    text-decoration: underline 1px;
}

.cv-workexp-con > ol {
    list-style: disc;
}

.cv-printerver {
    top: -2370px;
    bottom: 80px;
    left: 720px;
    right: 0px;
    margin: auto;
    position: absolute;
    background: #4d2aad;
    width: 220px;
    height: 50px;
    border-radius: 60px;
    text-align: center;
    transition: 0.1s;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-size: 20px;
    vertical-align: middle;
}

.cv-printerver:hover {

}

.cv-printerver:hover > img {}

.cv-linearrow {
    width: 31px;
    height: 31px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 100%;
    margin: auto;
    transform: translateX(-80px) rotateZ(45deg);
    background: white;

}

.cv-sideline {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -1193px;
    right: 0px;
    margin: auto;
    background: white;
}

.cv-education-cell {
    height: auto;
    display: flex;
    font-size: 20px;
    width: 100%;
    margin: 6px 0px 6px 0px;

}

cv-education-logo > img {
    float: left;
    height: 100%;
    margin: auto;
}

.cv-education-logo {
    height: 90px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    margin: auto;
    padding: 4px;

}

.cv-education-title {
    float: left;
    text-align: left;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid white;
    width: 72%;

}

.cv-education-date {
    float: right;
    text-align: right;
    border-bottom: 1px solid white;

    display: inline-block;
    width: 28%;
    position: relative;

}

.cv-education-desc {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: left;
}

.cv-education-textcon {
    width: 760px;
    float: right;
    margin-left: auto;
    margin-right: auto;
}

.cv-education-gradetable {
    font-size: 15px;
    width: 100%;
    text-align: left;
    font-weight: 100;
    border-collapse: collapse;
    font-family: GradeTableFont;
    margin: 10px 0px 10px 0px;
}


.cv-education-gradetable > tbody > tr:nth-child(even) {
    background: #2e2e2e;
}

.cv-education-gradetable > tbody > tr > td:nth-child(even) {
    width: 110px;
}

.cv-education-gradetable > tbody > tr > td:nth-child(odd) {
    width: 220px;
}

.cv-education-gradetable-invert > tbody > tr:nth-child(odd) {
    background: #2e2e2e;
}

.cv-education-gradetable-invert > tbody > tr:nth-child(even) {
    background: none;
}


.wip-tag {
    background: hsl(0, 76%, 37%);

}

@font-face {
    font-family: GradeTableFont;
    src: url(/Fonts/calibril.ttf)
}

.prototype-tag {
    background: hsl(224, 20%, 29%);
}

.otherproject-con {
    height: 100px;
    width: 200px;
    background: red;
    display: inline-block;
    margin: auto;
    position: relative;
    
}

.otherproject-con-panel {
    justify-content: center;
    flex: auto;
    margin: auto;
    align-items: center;
    width: 1020px;
}

.video-cell {
        position: relative;
    width: 600px;
    height: 100%;
    transition: 0.5s;
    min-width: inherit;

    overflow: visible;
    z-index: 1;
    opacity: 1;
    cursor: pointer;
    margin-left: -45px;
    margin-right: -45px;
    clip-path: polygon(90px 0%, 100% 0%, calc(100% - 90px) 100%, 0% 100%);

    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    
    order: 1;
}

.video-cell__video {
        opacity: 1;
    z-index: 22;
    width: 700px;
    height: 900px;
    position: absolute;
    display: block;
    left: -710px;

    top: -10px;
    right: -1000px;
    margin: auto;
    pointer-events: none;
    
}

.video-cell2 {
        width: 120px;
    height: 700px;
    left: -170px;
    position: relative;
    display: block;
    margin: auto;
    vertical-align: middle;
    align-content: center;
    align-items: center;

}

.about-me-con-text {
    flex-grow: 3;
    margin: 20px 20px 0px 20px;
}

.cv-achievements__devider {
        background: white;
    margin: 0px 0px 0px 0px;
    height: 1px;
}

.cv-achievements-cell {
    height: 152px;
    width: 100%;
    margin: 12px 0px 12px 0px;
}
.about-me-con > img {
    background: green;
}


.contact-flex {
    display: flex;
    margin: auto;
}
