@charset "utf-8";

body {
    background-color: hsla(288, 43%, 12%, 1.00);

}

.banner-con {
    margin: 0px auto 0px auto;
    position: relative;
    text-align: center;
height: 860px;
        min-width: 1000px;
    z-index: 2;
    pointer-events: none;
    user-select: none;
    margin-bottom: -48px;
    width: 100%;
    z-index: 0;
    margin-top: -180px;
    overflow: hidden;
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 94%, rgba(0,0,0,0));
}

.banner-con-object {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);



}

.banner-con-object-fade {
    position: absolute;
    display: block;
    width: 100%;
    left: 0px;
    height: 10px;
    top: 590px;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.4990371148459384) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.4990371148459384) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4990371148459384) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}


.panel-project {
    background-color: rgb(60, 60, 60);
    position: relative;
    display: block;
    width: 1220px;
    margin: auto;
    height: auto;
    border-radius: 20px;
    align-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0px 20px 2px #000000;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 80px;

}


.project-title {
    font-size: 120px;
    padding-top: 18px;
    padding-bottom: 20px;
    color: #FFFFFF;
    cursor: default;
    margin-left: 10px;
    margin-right: 10px;
}



.project-detail-title {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
    width: 420px;
}





.link-button {
    height: 50px;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 0px;
    border-radius: 15px;
    margin-top: 16px;
    position: relative;
    display: inline-block;
    max-width: 210px;
    margin-left: 10px;
    margin-right: 10px;
    border: 4px solid hsla(0, 0%, 100%, 1.00);
    margin-bottom: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: text-bottom;
    transition: 0.2s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.link-button:hover {
    box-shadow: 0 0px 20px -6px hsla(0, 0%, 100%, 1.00);
    -webkit-box-shadow: 0 0px 20px -6px hsla(0, 0%, 100%, 1.00);
    transition: 0.2s;
}

.devlog-button {
    background-color: hsla(271, 48%, 39%, 1);
    font-weight: 500;
}

.devlog-button > img {
    height: 30px;
    display: inline-block
}

.devlog-button > div {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.devlog-button:hover {
    background-color: hsl(265, 68%, 57%);

}

.itch-button {
    line-height: 28px;
    font-size: 28px;
    font-weight: 100;
    background: #fa3c5c;
}

.itch-button > img {
    height: 30px;
    display: inline-block
}

.itch-button > div {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-left: 2px
}

.itch-button > div > img {
    width: 80px;
    display: inline-block;
    margin-top: 4px
}

.itch-button:hover {
    background: #fa4c5c;
}

.project-desc-text {
    display: inline-block;
    width: 90%;
    height: auto;
    font-size: 16px;
    text-overflow: clip;
    margin: 20px auto 30px auto;
}


.keyfeature-text {
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px;
    border-bottom: 2px solid #ffffff;
    width: 500px;
    margin-top: 80px;
    margin-left: 50px;
    text-align: end;
    border-top-left-radius: 30px;
    border-style: solid;
    border-width: 2px 0px 0px 2px;
    line-height: 40px;
    height: 40px;
}



.dropdown {
    max-width: 90%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.dropdown-header {
    background-color: rgb(80, 32, 105);
    border: solid #ffffff 1px;
    width: 320px;
    height: 34px;
    z-index: 1;
    margin-left: 80px;
    float: left;
    position: relative;
    color: white;
    font-size: 20px;
    text-align: left;
    border-radius: 1000px;
    cursor: pointer;

    transition: 0.3s;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.dropdown-header > div > img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.dropdown-header:hover {
    background-color: rgb(142, 26, 203);

}

.dropdown-img-con {

    height: 100%;
    width: 30px;
    display: inline-block;

}

.dropdown-img {
    height: 30px;
    width: 30px;
    display: inline-block;


    padding: 3px 5px 5px 15px;

    margin: auto;
}

.dropdown-header-text {
    height: 100%;
    display: inline-block;
    font-size: 18px;

    vertical-align: top;
    line-height: 37px;
}

.dropdown-header-text > div {
    background: blue;
    display: block;
    position: relative;
    height: 220px;
    width: 200px;
    vertical-align: middle;
    margin: auto;

    text-align: center;
}

.dropdown-arrow {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 22px;
    width: 22px;
    margin-top: 7px;
    margin-right: 12px;
    transition: 0.4s;

}

.dropdown-arrow > img {
    width: 100%;
    height: 100%;

}

.dropdown-content-show {
    background-color: #68147c;

}

.dropdown-content-show > .dropdown-arrow {
    transform: rotate(-180deg);
}


.dropdown-content {
    width: calc(91% + 8px);
    position: relative;

    overflow: hidden;
    background-color: rgba(13, 13, 13, 0.4);
    color: #ffffff;
    transition-duration: 0.6s;
    height: 0px;
    top: -20px;
    margin: auto auto auto 80px;
    border-radius: 0px 10px 10px 10px;
}

.dropdown-content-show + div {
    padding-bottom: 0px;
}

.dropdown-header-show {

    background-color: #68147c;
}

/*Carousel CSS*/



.carousel-container {
    position: relative;
    width: 100%;
    margin-top: 22px;
    margin: auto;
    padding-top: 30px;
}

.carousel-inner {
    position: relative;
    display: block;
    overflow: hidden;
    margin: auto;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: auto;
    box-shadow: 0 0px 6px 0px #000000;
    z-index: 2;
    object-fit:fill
    
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
    box-sizing: content-box;
    object-fit: fill;
    margin-bottom: -5px;
    overflow: hidden;

}


@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: -webkit-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out, -o-transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px
    }


    .carousel-inner > .item.active.right,
    .carousel-inner > .item.next {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        left: 0;
    }

    .carousel-inner > .item.active.left,
    .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        left: 0
    }

    .carousel-inner > .item.active,
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0
    }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block
}

.carousel-inner > .active {
    left: 0
}

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-indicators {
    position: relative;
    z-index: 1;
    width: 100%;
    left: 0px;
    margin: auto;
    text-align: center;
    list-style: none;
    background: #282828;
    border-radius: 0px 0px 40px 40px;
    display: flex;
    justify-content: center;
padding: 20px 0px 10px 0px;
}




.carousel-indicators > .carousel-imgdot {
    display: inline-block;
    width: 160px;
    height: 90px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0009;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    background: #ffffff;
    transition: 0.1s;
    margin: 0px 10px 0px 10px;
    padding: 0px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

.carousel-indicators > li > img {
    position: relative;
    display: block;
    left: 0px;
    margin: auto;
    height: 100%;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.carousel-indicators > .active {
    margin-top: 0px;
    transition: 0.1s;
    transform: translateY(-8px);

}

.carousel-indicators > .active > img {
    opacity: 0.9;
}

/*devlog*/
.carousel-devlog-dot {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;

    border: 4px solid #fff;
    transition: 0.1s;
    margin-top: 8px;
    border-radius: 100px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.carousel-indicators-devlog > .active {
    margin-top: 0px;
    transition: 0.1s;
    transform: translateY(8px);
    background: #ffffff;
    border: 10px, solid, #ffffff;

}

.carousel-indicators-devlog {
    margin-bottom: 10px;
}



/*Devlog Content*/






.devlog-page > p {
    overflow: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.devlog-page > video {}

.dropdown-text {
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;

}







.devlog-panel {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 8;
    top: 0px;
    left: 0px;
    overflow-y: auto;
    padding-top: 60px;
}

.devlog-panel-active {
    display: block;
}

.devlog-panel-active:hover body {
    overflow-y: hidden
}

.carousel-devlog-close {
    width: 50px;
    height: 50px;
    position: relative;
    top: 0px;
    right: 0px;
    float: right;

}

.disable-overflow {
    overflow-y: hidden;
    overflow-x: hidden;
}

.dropdown-header + div > .dropdown-header,
.dropdown-header + div > .dropdown-content {
    width: calc(100% - 30px);
}




/*Code Snippits*/



@font-face {
    font-family: CodeFont;
    src: url(/Fonts/CascadiaMono.ttf)
}

.codesnippet-con {
    font-size: 0.7em;
    text-align: left;
    height: auto;
    font-family: CodeFont;
    border-radius: 12px;
    overflow-x: auto;
    white-space: nowrap;
    color: #bababa;
    background: #1d1f21;
    padding-top: 10px;
    margin: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin: 20px 0px 20px 0px;
}

.codesnippet-con > li > span {
    color: white;
    padding-right: 30px;
}

.comment {
    color: #57A64A;
}

.function {
    color: #DCDCAA;
}

.class {
    color: #86C691;
}

.local-value {
    color: #9CDCFE;
}

.data-type {
    color: #B5CEA8;
}

.ifstate {
    color: #D8A0DF;
}

.keyword {
    color: #569CD6;
}

.unity-class {
    color: #4EC9B0;
}

.L6 {
    padding-left: 12px;
}

.L5 {

    padding-left: 10em;
}

.L4 {

    padding-left: 8em;
}

.L3 {

    padding-left: 6em;
}

.L2 {

    padding-left: 4em;
}

.L1 {

    padding-left: 2em;
}

.dropdown-content > p {
    margin: 0px 20px 0px 20px;
    font-size: 14px;
}

.project-background {
    position: fixed;
    width: 110%;
    height: 110%;
}

.fadein {}

.fadein img {
    position: absolute;
    left: -65px;
    top: 0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 60s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 60s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    53% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    53% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#f1 {}

#f2 {
    -webkit-animation-delay: -40s;
}

#f3 {
    -webkit-animation-delay: -20s;
}


.infobar__title {
    font-size: 30px;
    text-align: left;
    margin-left: 10px;
    text-decoration: underline;

    display: block;
    background: rgb(13, 13, 13);
    background: linear-gradient(90deg, rgba(13, 13, 13, 1) 0%, rgba(13, 13, 13, 0) 50%);
    position: relative;
    width: 80%;
    margin: 10px auto 20px auto;
    border-left: 8px solid rgb(168, 54, 54);
    border-radius: 10px
}

.Content {

    position: relative;
    height: 500px;
    padding-bottom: 100px;
    background-color: rgba(40, 40, 40, 1);
    margin: 60px 100px 0px 100px;
    height: -1000px;
    ;
    text-align: left;
    color: #FFF;
    border: solid $border transparent;
    /* !importanté */
    border-radius: 0px 0px 0px 40px;


    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: inherit;
        border-radius: inherit;
        /* !importanté */
        background: linear-gradient(160deg, #ffffff, rgba(255, 255, 255, 0));

        margin: 0px 0px -2px -2px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -25px;

        height: 50px;
        width: 50px;


        z-index: 1;
        border-radius: inherit;
        /* !importanté */
        background: white;
        border-radius: 1220px;
        margin: 0px 0px -3px -3px;
    }


}

.Content > p {
    background: red;
}

.content-title {
    height: 50px;
    font-size: 40px;
    line-height: 48px;
    padding-left: 30px;

    background: rgb(204, 204, 204);
    background: linear-gradient(90deg, rgba(204, 204, 204, 1) 0%, rgba(204, 204, 204, 0) 50%);
}

.feature-con {
    min-height: 400px;
    background-color: #282828;
    margin-bottom: -40px;
    border-radius: 40px 40px 0px 0px;
    padding-bottom: 100px;
    overflow: hidden;
    text-align: justify;

}

.feature-con:nth-child(odd) {
    background: #222222;
}

.feature-con:nth-child(odd) > .feature-con__felx > p {
    text-align: left;

}

.feature-con:nth-child(even) > .feature-con__felx > p {
    text-align: right;

}

.feature-con:nth-child(even)>.feature-con__felx > img , .feature-con:nth-child(even) >.feature-con__felx> video  {
float: right;
    order: 1;
    border-radius: 0px 40px 0px 40px;

}


.feature-con__title {
    height: 46px;
    display: block;
    text-align: left;
    padding-left: 10px;

    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 24px;
    margin-left: 100px;
    border-radius: 100px;
    width: fit-content;
    padding-right: 20px;
    transform-style: preserve-3d;

}

.feature-con__title::before {
    height: 10px;
    width: 10px;
    top: 43.5%;
    background: white;
    position: relative;
    left: -39px;
    margin-left: 10px;
    display: block;
    content: '';
    border-radius: 20px;

}

.feature-line {
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    left: 50px;

    background: white;
}




.feature-con__title > img {
    vertical-align: middle;
    height: 40px;
    margin-right: 10px;
}

.feature-con__line {

    position: absolute;
    display: block;
    width: 30px;
    height: inherit;
    left: -50px;
    border-bottom-left-radius: 40px;
    border-width: 0px 0px 2px 2px;
    border-color: white;
    border-style: solid;
    margin-top: -32px;
    transform: translateZ(-1px);
}

/*.feature-con__line::before {
    
    position: absolute;
    display: block;
    width: 620px;
    height: 600px;
    left: 40px;
    border-bottom-left-radius: 40px;
    border-width: 0px 0px 4px 4px;
    border-color: white;
    border-style: solid;
    margin-top: -800px;
}*/


.feature-panel {
    z-index: 1;
    overflow: hidden;

}

.feature-con__felx > p {
    display: flex;
    height: auto;
    margin: 10px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 16px;
    text-overflow: inherit;
    text-align: start;
}

.feature-con__felx > img,
.feature-con__felx > video {
    display: flex;
    border-radius: 40px 0px 40px 0px;
}

.projectflex {
    display: flex;
padding: 16px;
    margin: 20px 40px 20px 40px;
    text-align: left;
}

.projectflex > div {
    margin: auto;
    flex: 1;
}


.project-details-item {
    padding: 10px;
    margin: 10px;
    overflow: hidden;

}

.shadowbackdrop {
    background: rgba(0, 0, 0, 0.44);
    border-radius: 20px;
    height: fit-content;
}

.project-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.project-tools {
    margin: 0px 8px 8px 8px;
    display: inline-block;
}

.project-tools > p {
    margin: auto;
    padding: 4px 8px 4px 8px;
    background: rgb(24, 24, 24);
    border-radius: 999px;
}

.project-details-item__title {
    font-size: 22px;
    margin-bottom: 4px;
    margin-top: 6px;
}

.project-tools > img {
    height: 64px;
    margin-bottom: 4px;
}



.project-details-table {
    font-size: 18px;
    margin: 1px -2px -2px -2px;
    border-spacing: 0px;
}

.project-details-table > tbody > tr {
    padding: 1230px;
    background: red;
    height: 40px;
}

.project-details-table > tbody > tr:nth-child(odd) {
    background: #2f2f2f;

}

.project-details-table > tbody > tr:nth-child(even) {
    background: #555555;

}

.project-details-table > tbody > tr > td:nth-child(odd) {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    width: auto;
    padding-left: 30px;
    /*left*/

}

.project-details-table > tbody > tr > td:nth-child(even) {
    text-align: left;
    padding-left: 10px;
    width: auto;
    padding-right: 30px;

    /*right*/
}

.project-textbox {
    display: flex;
    margin: 20px 40px 20px 40px;
    padding: 8px 40px 8px 40px;
}

.project-textbox__bulletimg {
    float: left;
    border-radius: 10px;
    margin-right: 12px;
}




.keyfeature-text > div {
    position: absolute;
    display: block;
    left: 112px;
    margin-top: -48px;
}

.projectflex-item {
    display: flex;
    padding: 18px;
}

.dropdown__plus {

    
        display: block;
    content: '';
    width: 2px;
    height: 18px;
    background: white;
    position: absolute;
    right: 16px;
    top: 8px;
    border-radius: 20px;
        transition: 0.3s;
}


.dropdown__plus::before {
    display: block;
    width: 18px;
    height: 2px;
    background: white;
    position: absolute;
    right: -8px;
    top: 8px;
    border-radius: 20px;
    content: '';

    

}


.dropdown-content-show > .dropdown__plus {
  transform: rotate(45deg);

}



.project-textbox__longtext {
        display: flex;
    margin: 10px 40px 10px 40px;
    padding: 12px 40px 12px 40px;
    flex-direction: column;
    font-size: 18px;
}

.feature-con__felx {
        display: inline-flex;
    height: auto;
    margin: 20px 0px 30px 100px;
    font-size: 16px;
    text-overflow: inherit;
    text-align: start;
    width: 88%;
}
