@charset "utf-8";
/* CSS Document */
body{
	top: 0px;
	left: 0px;
	margin: 0px;
}

Navbar {
    position: fixed;
    color: black;
    width: 100%;
    height: 50px;
    background:rgba(1,255,1,0.5);
	
}
