@charset "utf-8";
.video-con {
	height: 600px;
	overflow: hidden;
	position: relative;
	z-index: -1;
}
.video-con-object {
	position: absolute;
	object-fit: cover;
	z-index: -1;
	width: 100%;
	height: 100%;
}
.video-con-object-fade {
	position: absolute;
	display: block;
	width: 100%;
	left: 0px;
	height: 100px;
	top: 500px;
	background: rgb(38, 17, 43);
	background: -moz-linear-gradient(0deg, rgba(38, 17, 43, 1) 0%, rgba(38, 17, 43, 0.2049194677871149) 10%, rgba(38, 17, 43, 0) 40%);
	background: -webkit-linear-gradient(0deg, rgba(38, 17, 43, 1) 0%, rgba(38, 17, 43, 0.2049194677871149) 10%, rgba(38, 17, 43, 0) 40%);
	background: linear-gradient(0deg, rgba(38, 17, 43, 1) 0%, rgba(38, 17, 43, 0.2049194677871149) 10%, rgba(38, 17, 43, 0) 40%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26112b", endColorstr="#26112b", GradientType=1);
}
.about-me {
    height: inherit;
    position: relative;
    background-color: hsla(288,43%,12%,1.00);
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    min-height: 200px;
}
.about-me-con {
	align-self: center;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	/* [disabled]height: 350px; */
	padding-top: 40px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	/* [disabled]min-width: 1060px; */
	display: block;
	max-width: 1000px;
}
.about-me-picture {
	border-radius: 1000px;
	display: inline-block;
}
.about-me-title {
	font-size: 60px;
	text-align: left;
	position: relative;
	vertical-align: top;
	width: 285px;
	height: 100px;
	display: inline-block;
	min-width: 30px;
	max-width: 37px;
	top: -20px;
}
.about-me-text {
	position: relative;
	font-size: 15px;
	display: block;
	/* [disabled]height: 440px; */
	text-overflow: ellipsis;
	text-align: left;
	/* [disabled]float: none; */
	/* [disabled]min-width: 62px; */
	padding-top: 0px;
	/* [disabled]padding-right: 40px; */
	padding-left: 0px;
	padding-bottom: 20px;
	/* [disabled]max-width: 2919px; */
	margin-top: -30px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	top: 0px;
}
.about-me-con-text {}
@media (max-width: 760px) {
	.about-me-con {
		max-width: 600px;
		align-content: center;
	}
	.about-me-picture {
		margin-left: auto;
		margin-right: auto;
		display: block;
		float: none;
	}
	.about-me-title {
		width: 100%;
		text-align: center;
	}
}
@media only screen and (min-width: 760px) {
	.about-me-picture {
		float: left;
		margin-top: 0px;
		margin-right: 20px;
		margin-left: 0px;
		margin-bottom: 0px;
	}
}
/*Project Showcase*/

.banner {
	height: 100px;
	width: 100%;
	color: white;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 41px;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	vertical-align: central;
	align-self: center;
	line-height: 100px;
	background-color: #1F007E;
	z-index: 181;
}
.sub-banner {
	width: 900px;
	margin: auto;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 43px;
	/* [disabled]background-color: red; */
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	color: white;
	font-weight: 100;
}
.sub-banner-divider {
	height: 4px;
	top: 10px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.19931722689075626) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.2049194677871149) 70%, rgba(255, 255, 255, 0) 90%);
	background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.19931722689075626) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.2049194677871149) 70%, rgba(255, 255, 255, 0) 90%);
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.19931722689075626) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.2049194677871149) 70%, rgba(255, 255, 255, 0) 90%);
}
.project-con {
    width: 90%;
    /* [disabled]background-color: hsla(0,0%,27%,1.00); */
    margin: auto;
    height: auto;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.project-con-cell {
	display: inline-block;
	width: 300px;
	border-radius: 50px;
	height: 300px;
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 20px;
}
.project-con-box {
    width: 300px;
    border-radius: 50px;
    height: 300px;
    overflow: hidden;
    vertical-align: middle;
    align-items: center;
    border: 2px solid hsla(0, 0%, 100%, 1.00);
    justify-content: center;
    transition: 0.5s;
    text-decoration: none;
}
.project-con-box:hover {
	-webkit-box-shadow: 0px 0px 10px 5px hsla(0, 0%, 100%, 1.00);
	box-shadow: 0px 0px 10px 5px hsla(0, 0%, 100%, 1.00);
	transition: 0.5s;
}
.project-con-box:hover>.project-con-box-image {
	transform: scale(1.1);
	transition: 0.5s;
}
.project-con-box-image {
	position: relative;
	margin: auto;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.project-con-box-title {
	background-color: hsla(0, 0%, 10%, 0.85);
	width: 272px;
	height: 70px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	position: relative;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	bottom: 70px;
	margin-top: auto;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 36px;
	display: table;
	color: white;
	line-height: 65px;
}
.project-con-tags {
    width: 90%;
    height: 60px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* [disabled]align-content: center; */
    /* [disabled]align-items: center; */
    /* [disabled]justify-content: center; */
    /* [disabled]display: inline-flex; */
}

.project-con-desc{
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	margin-top: 10px
}
project-tag{
    height: 20px;
    width: auto;
    padding-top: 1px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 3px;
    border-radius: 10px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 14px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 100;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
}

.engine-tag{
    background-color: hsla(120,100%,30%,1.00);
}

.project-tag-devider{
    height: 26px;
    background-color: white;
    display: inline;
    padding-bottom: 10px;
    overflow: hidden;
    margin-top: -30px;
    padding-top: 10px;
    margin-right: 4px;
    padding-right: 0px;
    padding-left: 1px;
}

.panel {
    height: 1000px;
    /* [disabled]background-color: #282828; */
    margin: auto;
    width: 100%;
}
